<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    <title>B2t</title>
</head>
<body class="body_trans">
    
        <div class="nav_head">
            <div class="nav_title"><h1>BUS TO TIME (B2t)</h1></div>
            <div class="icons">
                <ul class="header-list">
                    <li class="header-list-elements"><a class="link-tag" href="#">Home</a></li>
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='base.html'>Profile</a></li>
                <li class="header-list-elements"><a class="link-tag" href="signup.html">login</a></li>
            </div>
        
        </div>

        <div class="home_page">

            <div class="main_page">
                <div class="main_btn">
                    <div class="main_btn_head">
                    </div>
                    <div class="main_btn_msg">
                        <p>
                            We placed the barcode for each buses that helps  to store the details of the bus.After scanning the code by the device which placed in a enterance of the bus stand. 
                            scanned datas and timings simultaneously stored in a database with different database like(arrival and exit)
                            Thus the app will be in user - freindly.
                        </p>
                    </div>
                    <div class="main_btn_foot">
                        <a href="translate">More</a>
                    </div>
                </div>
            </div>